* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  background-color: #000;
  margin-top: 132px;
}

@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Italic;
  src: url(fonts/Roboto/Roboto-Italic.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: Roboto-Light;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}
.navHolder {
  height: 132px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -132px;
  background-color: #000;
}
.navHolder .nav-logo {
  margin-left: 20px;
  width: 150px;
  height: 100px;
  background-image: url(../images/liftingcast-logo.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.navHolder .nav-links {
  margin: auto 50px auto auto;
}
.navHolder .nav-links a {
  font-family: Roboto;
  font-size: 25px;
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
.navHolder .nav-bars {
  display: none;
  flex-direction: column;
  margin-right: 37px;
}
.navHolder .nav-bars .nav-bar {
  display: block;
  width: 25px;
  margin: 3px 0;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-bars.active .nav-bar:nth-child(2) {
  opacity: 0;
}
.nav-bars.active .nav-bar:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.nav-bars.active .nav-bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media screen and (max-width: 1330px) {
  .navHolder .nav-logo {
    margin-left: 20px;
  }
}
@media screen and (max-width: 768px) {
  .navHolder {
    position: fixed;
    z-index: 10;
  }
  .navHolder .nav-links {
    position: fixed;
    width: 100vw;
    opacity: 0;
    right: 1000px;
    top: 100px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in;
    margin: 0 auto;
  }
  .navHolder .nav-links a {
    margin: 30px auto;
  }
  .navHolder .nav-links.active {
    opacity: 1;
    right: 0;
    left: 0;
  }
  .navHolder .nav-bars {
    display: flex;
  }
}
.home {
  height: 100vh;
}
.home h1 {
  color: white;
  font-family: Roboto-Bold;
  text-align: center;
  margin: 50px auto;
  font-size: 40px;
}
.home .events-container {
  margin: 0 auto;
  width: 700px;
  display: flex;
  flex-direction: column;
}
.home .events-container li {
  color: white;
  cursor: pointer;
  border: 2px solid #fff;
  margin-top: 5px;
  list-style-type: none;
  font-family: Roboto;
  height: 30px;
  display: flex;
  position: relative;
}
.home .events-container li p {
  margin: auto 0 auto 15px;
}
.home .events-container li span {
  margin: auto 0 auto 15px;
}
.home .events-container .addItemInput {
  width: 700px;
  margin-top: 5px;
  border: 2px solid #fff;
  display: flex;
  height: 30px;
}
.home .events-container .addItemInput input {
  width: 100%;
  background-color: #000;
  color: white;
}
.home .events-container .addItemInput button {
  width: 150px;
  font-family: Roboto;
  background-color: #fff;
  color: #000;
}
.home .events-container .competitor-styling {
  margin-left: 15px;
}
.home .events-container .right {
  position: absolute;
  right: 15px;
  margin-top: 5px;
}
.home .events-container .delete {
  position: absolute;
  right: 15px;
  margin-top: 5px;
  cursor: pointer;
}
.home .events-container li:nth-child(even) {
  background-color: #444;
}
.home .events-container .back-button {
  width: 150px;
  height: 30px;
  font-family: Roboto;
  background-color: #fff;
  color: #000;
  margin: 20px auto;
}

li.strike {
  text-decoration: line-through;
}

/*# sourceMappingURL=styles.css.map */
