.home {
  height: 100vh;
  h1 {
    color: white;
    font-family: Roboto-Bold;
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
  }
  .events-container {
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;

    li {
      color: white;
      cursor: pointer;
      border: 2px solid #fff;
      margin-top: 5px;
      list-style-type: none;
      font-family: Roboto;
      height: 30px;
      display: flex;
      position: relative;

      p {
        margin: auto 0 auto 15px;
      }

      span {
        margin: auto 0 auto 15px;
      }
    }

    .addItemInput {
      width: 700px;
      margin-top: 5px;
      border: 2px solid #fff;
      display: flex;
      height: 30px;

      input {
        width: 100%;
        background-color: #000;
        color: white;
      }

      button {
        width: 150px;
        font-family: Roboto;
        background-color: #fff;
        color: #000;
      }
    }

    .competitor-styling {
      margin-left: 15px;
    }

    .right {
      position: absolute;
      right: 15px;
      margin-top: 5px;
    }

    .delete {
      position: absolute;
      right: 15px;
      margin-top: 5px;
      cursor: pointer;
    }

    li:nth-child(even) {
      background-color: #444;
    }

    .back-button {
      width: 150px;
      height: 30px;
      font-family: Roboto;
      background-color: #fff;
      color: #000;
      margin: 20px auto;
    }
  }
}

li.strike {
  text-decoration: line-through;
}
